body {
    font-family: 'Nunito', sans-serif;
}

#principale {
    margin-left: auto;
    margin-right: auto;
    width: 950px;
    padding-left: 20px;
    padding-right: 20px;
}

h1 {
    font-size: 2.5em;
    font-weight: 700;

}

h3 {
    font-size: 2em;
    font-weight: 300;
}

#a1 {
    display: grid;
    grid-column-gap: 40px;
    grid-template-columns: auto auto;
}

#a1 > img {
    grid-column-start: 1;
    grid-column-end: 2;
    width: 200px;
}

#prfimg {
    flex-shrink: 0;
    width: 3.125rem;
    height: 3.125rem;
    margin-right: 1.75rem;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

#pencil {
    width: 3.125rem;
    height: 3.125rem;
    margin-right: 1.75rem;
    border-radius: 50%;
}

#divimage img {
    background-color: #ff572e;
}


#note, #vrg {
    color: #19b5fe;
}

#note {
    font-size: 1.375rem;
}

#pseudo {
    font-weight: bold;
}

#comment {
    font-style: italic;
}

#rdmore {
    font-weight: bold;
    color: #ff572e;
    text-decoration: none;
}

#giveop a {
    color: #757575;
    text-decoration: none;
}

h4 {
    font-weight: bold;
}

#vrg {
    font-size: 1rem;
}

#a3 > img {
    width: 910px;
}

