fieldset{
  background: rgba(57, 58, 59, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em;
}

fieldset input {
  display: inline-block;
  width: 14em;
  margin: 0.1em;
}

fieldset label{
  display: inline-block;
  font-weight: bold;
  width: 10em;
}
